body{
    text-align: center;
    background-color: aqua;
}

#main_page {
    margin: 15px auto;
    background-color: hsl(37, 98%, 53%);
    padding: 15px;
    border-radius: 15px;
    min-height: 250px;
    max-width: 500px;
    min-width: 300px;
    width: 80%;
    margin: 15px auto;
}

#game_page {
    margin: 15px auto;
    background-color: hsl(37, 98%, 53%);
    padding: 15px;
    border-radius: 15px;
    min-height: 250px;
    max-width: 500px;
    min-width: 300px;
    width: 80%;
    margin: 15px auto;
}

#result_page {
    margin: 15px auto;
    background-color: hsl(37, 98%, 53%);
    padding: 15px;
    border-radius: 15px;
    min-height: 250px;
    max-width: 500px;
    min-width: 300px;
    width: 80%;
    margin: 15px auto;
}

h1{
    margin-top: 0px;
}

input, button{
    background-color: #df2b2b;
    border: 1px solid #2D2B23;
    border-radius: 3px;
    color: white;
}

input:disabled{
    opacity: 30%;
}

#button_next{
    margin: 15px auto;
}

::placeholder{
    color: white;
    opacity: 50%;
}

#game_page{
    display: none;
}

#result_page{
    display: none;
}

#guess_result{
    display: none;
}

#button_next{
    display: none;
}

#explanation{
    text-align: center;
    margin: 15px auto;
    background-color: hsl(101, 98%, 53%);
    padding: 15px;
    border-radius: 15px;
    min-height: 250px;
    max-width: 500px;
    min-width: 300px;
    width: 80%;
    margin: 15px auto;
    font-family: 'Gotham', sans-serif;
}

/* Add margin-bottom to <br> elements in explanation*/
#explanation br{
    display: block;
    width: 50%; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 1em; /* change this to whatever height you want it */
    margin-bottom: 1em;
}
